<div class="row g-3">
	<div class="col-md-12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Author</th>
					<th scope="col">Price</th>
				</tr>
			</thead>
			<tbody>
				<% litres_books.each do |litres_book| %>
					<tr>
						<%= render partial: "litres_book_demo", locals: { litres_book: litres_book } %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="col-md-4">
		<%= button_to "Previous page", page_litres_book_url(page_num-1), method: "post", class: "btn btn-primary" %>
	</div>
	<div class="col-md-4">
		<div class="text-center">
			Page <%= page_num %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="float-end">
		<%= button_to "Next page", page_litres_book_url(page_num+1), method: "post", class: "btn btn-primary" %>
		</div>
	</div>
</div>

