<ul class="nav nav-tabs justify-content-center">
	<li class="nav-item">
		<a class="nav-link" href="/parse_tasks">Tasks</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="/litres_books">Litres</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Marka</a>
	</li>
</ul>
