<div id="navbar">
	<%= render partial: "layouts/navbar", locals: { active: 3 }%>
</div>

<div id="tabs">
	<%= render partial: "layouts/tabs", locals: { active: 1 }%>
</div>

<div class="container mt-4">
	<%= render @litres_book %>
	<div>
		<%= link_to "Back to litres_books", litres_books_path %>
	</div>
</div>
