<div id="navbar">
	<%= render partial: "layouts/navbar", locals: { active: 2 }%>
</div>

<div class="container mt-4 w-25 bg-primary bg-opacity-25 p-4 border border-3 rounded">
	<h2>New parse task</h2>
	<%= render "form_create", parse_task: @parse_task %>
</div>
